In [2]:
import numpy as np
import pandas as pd

In [14]:
housing_pd = pd.read_csv('housing.csv', sep='\t', header=None)

In [15]:
housing_pd

                                                     0
0     0.00632  18.00   2.310  0  0.5380  6.5750  65...
1     0.02731   0.00   7.070  0  0.4690  6.4210  78...
2     0.02729   0.00   7.070  0  0.4690  7.1850  61...
3     0.03237   0.00   2.180  0  0.4580  6.9980  45...
4     0.06905   0.00   2.180  0  0.4580  7.1470  54...
..                                                 ...
501   0.06263   0.00  11.930  0  0.5730  6.5930  69...
502   0.04527   0.00  11.930  0  0.5730  6.1200  76...
503   0.06076   0.00  11.930  0  0.5730  6.9760  91...
504   0.10959   0.00  11.930  0  0.5730  6.7940  89...
505   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[506 rows x 1 columns]

In [20]:
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [35]:
data_matrix = [housing_pd[0][i].split() for i in range(len(housing_pd[0]))]

In [36]:
pd.Series([data_matrix[i][0] for i in range(len(data_matrix))])

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Length: 506, dtype: object

In [37]:
for idx, column in enumerate(columns):
    column_series =  pd.Series([data_matrix[i][idx] for i in range(len(data_matrix))])
    housing_pd[column] = column_series

In [39]:
housing_pd = housing_pd.drop(0, axis=1)

In [41]:
housing_pd.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506,506,506,506,506,506,506,506,506,506,506,506,506,506
unique,504,26,76,2,81,446,356,412,9,66,46,357,455,229
top,14.33370,0.00,18.100,0,0.5380,6.1670,100.00,3.4952,24,666.0,20.20,396.90,7.79,50.00
freq,2,372,132,471,23,3,43,5,132,132,140,121,3,16

In [42]:
housing_pd.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null object
ZN         506 non-null object
INDUS      506 non-null object
CHAS       506 non-null object
NOX        506 non-null object
RM         506 non-null object
AGE        506 non-null object
DIS        506 non-null object
RAD        506 non-null object
TAX        506 non-null object
PTRATIO    506 non-null object
B          506 non-null object
LSTAT      506 non-null object
MEDV       506 non-null object
dtypes: object(14)
memory usage: 55.5+ KB

In [52]:
housing_pd.to_csv("housing_data.csv", index=0)

In [53]:
housing_data = pd.read_csv('housing_data.csv', index_col=False)

In [54]:
housing_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
from sklearn